/* Reset + base: */
* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  overflow-y: scroll; }

/* always show scrollbar in non-IE */
body, input, select, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

a {
  -webkit-tap-highlight-color: #FF5E99; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

img {
  -ms-interpolation-mode: bicubic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* Clearfix: */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .group {
  height: 1%; }

/* IE6 */
*:first-child + html .group {
  min-height: 1px; }

/* IE7 */
/* End clearfix */
/* End reset + base */
body {
  background: #111;
  color: #f4f4f4; }

body, input, select, textarea, button {
  font-family: "paralucent", sans-serif; }

#canvas-wrapper {
  margin: 150px auto;
  box-shadow: 0 6px 24px #000;
  position: relative; }

#album-art {
  width: 100%;
  z-index: 3;
  opacity: 0.2;
  position: relative;
  display: block; }

ul {
  position: relative;
  z-index: 4; }

canvas {
  max-width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.player {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.03); }
  .player > * {
    float: right; }
  .player .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.03);
    transition: width 180ms linear; }
  .player .timer {
    float: left;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    height: 39px;
    line-height: 39px;
    padding-left: 12px; }
  .player .song-title {
    display: inline-block;
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    padding-right: 12px; }
  .player button {
    background: transparent;
    width: 39px;
    height: 39px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center; }
    .player button img {
      display: inline-block;
      transform: scale(1.25);
      transform-origin: center center; }
  .player .play-pause.playing .play {
    display: none; }
  .player .play-pause.playing .pause {
    display: inline-block; }
  .player .play-pause .play {
    display: inline-block; }
  .player .play-pause .pause {
    display: none; }
