/* Reset + base: */
* { margin: 0; padding: 0; border: 0; }

html { overflow-y: scroll; } /* always show scrollbar in non-IE */

body, input, select, textarea, button { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

a { -webkit-tap-highlight-color: #FF5E99; }

::-moz-selection { background: #FF5E99; color: #fff; text-shadow: none; }
::selection { background: #FF5E99; color: #fff; text-shadow: none; }

img { -ms-interpolation-mode: bicubic; }
strong { font-weight: bold; }
em { font-style: italic; }

/* Clearfix: */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End clearfix */
/* End reset + base */

body {
  background: #111;
  color: #f4f4f4;
}

#album-art {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  opacity: 0.2;
  box-shadow: 0 6px 24px #000;
}

ul {
  position: relative;
  z-index: 4;
}

canvas {
  display: block;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
