/* Reset + base: */
* { margin: 0; padding: 0; border: 0; }

html { overflow-y: scroll; } /* always show scrollbar in non-IE */

body, input, select, textarea, button { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

a { -webkit-tap-highlight-color: #FF5E99; }

::-moz-selection { background: #FF5E99; color: #fff; text-shadow: none; }
::selection { background: #FF5E99; color: #fff; text-shadow: none; }

img { -ms-interpolation-mode: bicubic; }
strong { font-weight: bold; }
em { font-style: italic; }

/* Clearfix: */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End clearfix */
/* End reset + base */

body {
  background: #111;
  color: #f4f4f4;
}

body, input, select, textarea, button {
  font-family: "paralucent", sans-serif;
}

#logo {
  height: 42px;
  margin: 42px auto 24px;
  display: block;
}

nav {
  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 6px;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.81);
        font-size: 16px;
        padding: 3px 6px;
        position: relative;

        &:after {
          content: "";
          bottom: 0;
          left: 0;
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 2px;
          background: rgba(255, 255, 255, 0.81);
          transition: all 120ms ease-out;
        }

        &:hover:after {
          bottom: -3px;
          opacity: 1;
        }
      }
    }

    @media (max-width: 374px) {
      li {
        margin: 0 3px;

        a {
          font-size: 15px;
          padding: 3px;
        }
      }
    }
  }
}

#canvas-wrapper {
  margin: 90px auto 120px;
  box-shadow: 0 6px 24px #000;
  position: relative;
}

.big-dumb-play-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  cursor: pointer;
  transition: all 180ms ease-out;

  &.playing {
    opacity: 0;
  }

  img {
    height: 9%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#album-art {
  width: 100%;
  z-index: 3;
  opacity: 0.2;
  position: relative;
  display: block;
}

ul {
  position: relative;
  z-index: 4;
}

canvas {
  max-width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.player {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.03);

  > * {
    float: right;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.03);
    transition: width 180ms linear;
  }

  .timer {
    float: left;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    height: 39px;
    line-height: 39px;
    padding-left: 12px;
  }

  .song-title {
    display: inline-block;
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    padding-right: 12px;
  }

  button {
    background: transparent;
    width: 39px;
    height: 39px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;

    img {
      display: inline-block;
      transform: scale(1.25);
      transform-origin: center center;
    }
  }

  .next-song {

  }

  .play-pause {
    &.playing {
      .play { display: none; }
      .pause { display: inline-block; }
    }

    .play { display: inline-block; }
    .pause { display: none; }
  }
}
